.login-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.login-container .btn-custom{
  border-color: black;
  color: black;
}

.right-login{
  visibility: hidden;
}

form{
  padding-top: 5vh;
  }